<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>БУРГЕР ЧЕДДЕР</title>
  <link rel="stylesheet" href="./app.component.css">
</head>
<body>
<section class="main">
  <header class="header">
    <div class="container">
      <div class="logo">
        <img src="./assets/images/Logo.png" alt="logo"/>
      </div>
      <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a (click)="scrollTo(why)">Почему у нас</a>
          </li>

          <li class="menu-item">
            <a (click)="scrollTo(products)">Меню бургеров</a>
          </li>

          <li class="menu-item">
            <a (click)="scrollTo(order)">Оформление заказов</a>
          </li>
        </ul>
      </nav>
      <div class="currency" title="Изменить валюту" id="change-currency" (click)="changeCurrency()">{{currency}}</div>
    </div>
  </header>
</section>


<section class="main-content">
  <div class="container">
    <div class="main-info">
      <span class="main-small-info">Новое меню</span>
      <H1 class="main-title">Бургер чеддер</H1>
      <p class="main-text">Мы обновили наше меню, спешите попробовать сезонные новинки и насладиться отличным
        вкусом наших бургеров. Готовим для вас лучшие бургеры в городе из отборной мраморной говядины.
      </p>
      <div class="main-action">
        <button class="button" id="main-action-button" (click)="scrollTo(products)">Смотреть меню</button>
      </div>
    </div>
    <img src="./assets/images/main_burger.png" alt="phat burger" class="main-image">
  </div>

</section>

<section class="why" id="why" #why>
  <div class="container">
    <div class="why-title">почему нас выбирают?</div>
    <div class="why-items">
      <div class="why-item">
        <img src="./assets/images/burger.png" alt="burger" class="why-item-image">
        <div class="why-item-title">Авторские рецепты</div>
        <div class="why-item-text">Наши бургеры обладают уникальным сочетанием вкусов и не похожи ни на какие
          другие. Мы тщательно отбираем лучшие ингредиенты и сочетания вкусов для нашего меню.
        </div>
      </div>
      <div class="why-item">
        <img src="./assets/images/meat.png" alt="meat" class="why-item-image">
        <div class="why-item-title">Мраморная говядина</div>
        <div class="why-item-text">Для наших бургеров мы используем отборную 100% мраморную говядину, которую
          закупаем исключительно у фермеров. Мы уверены в качестве нашего мяса.
        </div>
      </div>
      <div class="why-item">
        <img src="./assets/images/food%20truck.png" alt="food truck" class="why-item-image">
        <div class="why-item-title">Быстрая доставка</div>
        <div class="why-item-text">Мы доставляем в пределах МКАД за 30 минут, а если не успеем — доставка
          бесплатно.
          Мы тщательно упаковываем наши бургеры, чтобы по дороге они не остыли.
        </div>
      </div>

    </div>
  </div>
</section>
<section class="products" id="products" #products>
  <div class="container">
    <H1 class="products-title">выберите свой бургер</H1>
    <div class="products-cards">
      <div class="product-card" *ngFor="let product of productsData">
        <div class="product-inlay">
          <img src="./assets/images/{{product.image}}" alt="burger" class="product-image"/>
          <div class="product-title">{{product.title}}</div>
          <div class="product-text">{{product.text}}
          </div>
          <div class="inlay-orderbox">
            <div class="price-weight">
              <div class="price-title">{{product.price}} {{currency}}</div>
              <div class="weight-title">{{product.grams}} гр</div>
            </div>
            <button class="inlay-button" (click)="scrollTo(order, product)">Заказать <img src="./assets/images/Vector.png" alt="cart"
                                                       class="inlay-cart"/></button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<section class="order-section" id="order" #order>
  <Div class="container">
    <H2 class="order-title">оформление заказа</H2>
    <img src="./assets/images/order_image.png" alt="cardboardbox" class="order_image"/>
    <div class="contain-orderbox">
      <div class="main-orderbox">
        <div class="order-text">Заполните все данные и наш менеджер свяжется с вами для подтверждения заказа
        </div>
        <div class="order-form" [formGroup]="form">
          <div class="input-container" [class]="{'error': form.get('order')?.invalid && (form.get('order')?.dirty || form.get('order')?.touched) }">
            <div class="order-form-input">
              <input type="text" placeholder="1" id="burger" formControlName="order">
            </div>
            <label class="holder">Ваш заказ</label>
          </div>
          <div class="input-container" [class]="{'error': form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched) }">
            <div class="order-form-input">
              <input type="text" placeholder="1" id="name" formControlName="name">
             </div>
            <label class="holder">Ваше имя</label>
          </div>
          <div class="input-container" [class]="{'error': form.get('phone')?.invalid && (form.get('phone')?.dirty || form.get('phone')?.touched) }">
            <div class="order-form-input">
              <input type="text" placeholder="1" id="phone" formControlName="phone">
            </div>
            <label class="holder">Ваш телефон</label>
          </div>
          <button class="order-button" id="order-action" (click)="confirmOrder()" [disabled]="!form.valid">Оформить заказ</button>
        </div>
      </div>
    </div>
  </Div>
</section>
<footer class="footer">
  <div class="container">
    <div class="logo">
      <img src="./assets/images/Logo.png" alt="logo"/>
    </div>
    <div class="rights">Все права защищены</div>
  </div>
</footer>

<!--<script src="scripts/script.js"></script>-->

</body>
</html>
